[submodule "Livox-SDK"]
	path = .devcontainer/installation_files/Livox-SDK
	url = https://github.com/Livox-SDK/Livox-SDK.git
	branch = fix_ros2_humble
[submodule "livox_ros2_driver"]
	path = livox_ros2_driver_ws/src
	url = https://github.com/Livox-SDK/livox_ros2_driver.git
